{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p>{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>
                    {{ with .Site.Params.contact.phone }}<a href="tel:{{.}}">{{ . }}</a>,</br>{{ end }}
                    {{ with .Site.Params.contact.phone2 }}<a href="tel:{{.}}">{{ . }}</a>,</br>{{ end }}
                    Тел./Факс: <a href="tel:+7 (499) 786–53–59">+7 (499) 786–53–59</a>
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:{{ with .Site.Params.contact.email }}{{ . }}{{ end }}">{{ with .Site.Params.contact.email }}{{ . }}{{ end }}</a></br>
                <a href="mailto:tek@mosohrana.ru">tek@mosohrana.ru</a></p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Как добраться</h2>
                <hr class="primary">
                <p>109210, г. Москва, Перовское шоссе, д. 43, завод «МЛРЗ».</p>
                <img src="http://mosohrana.ru/images/map.jpg">
            </div>
<!--             <div class="col-sm-12">
                <iframe src="https://docs.google.com/forms/d/1OZ6-Oju-F83ekjjvsqOfyXBiR7RV9LiNMQMu1Dd6B2s/viewform?embedded=true" width="100%" height="850px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div> -->
        </div>
    </div>
</section>
