{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div style="float:left;"><a href="#contact" class="btn btn-primary btn-xl page-scroll">Оставить заявку</a></div>
        <div style="float:right;"><a href="#contact" class="btn btn-primary btn-xl page-scroll">Мы вам перезвоним</a></div>
        <div class="header-content-inner">
            <h1>{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</h1>
            <hr>
            <p>{{ with .Site.Params.hero.slogan }}{{ . }}{{ end }}</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
        </div>
    </div>
</header>
